.dropmenudiv{
position:absolute;
top:0;
left:0;
z-index:100;
visibility: hidden;
background-color:#236C00;
line-height:18px;
margin-top:-20px;
padding:2px 2px 2px 2px;
}

.dropmenudiv a{
width:auto;
display:block;
padding:6px 4px 6px 4px;
text-decoration:none;
font-family:Trebuchet MS;
font-size:13px;
font-weight:bold;
color:#ffffff;
border-bottom:1px solid #329C00;
}
.dropmenudiv a:hover{
background-color:#3BB103;
color:#ffffff;
}