.maintabdiv{
width:720px;
float:left;
}
a:focus{outline:none;}
.tabhead{width:100%;}
.tabhead ul {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 30px; /*--Set height of tabs--*/
	width: 100%;
	margin-bottom:-1px;
}
.tabhead ul li {
	float: left;
	margin: 0;
	padding: 0;
	float:left;
	overflow: hidden;
	position: relative;
}
.tabhead ul li a {
	text-decoration: none;
	color: #000;
float:left;
background:url(../images/hover1.gif) repeat-x left bottom;
padding:6px 15px;
text-decoration:none;
font-family:arial;
font-size:12px;
font-weight:bold;
color:#ffffff;
border-top:1px solid #C1D4B9;
border-left:1px solid #C1D4B9;
border-right:1px solid #C1D4B9;
border-bottom:0px solid #C1D4B9;
margin-right:15px;
}

.tabhead ul li.active a{ 
background:url(../images/active_bg.gif) repeat-x left top;
border-top:1px solid #C1D4B9;
border-left:1px solid #C1D4B9;
border-right:1px solid #C1D4B9;
border-bottom:0px solid #C1D4B9;
color:#6B6D6E;
}



.tab_container {
	border-top: none;
	overflow: hidden;
	clear: both;
	float: left; width: 100%;
	background: #fff;
}
.tab_content {
	width:100%;
	padding: 0px;
	font-size:;
}
